.fast-menu {
    width: 100%;
}

.fast-menu a {
    text-decoration: none !important;
}

.fast-menu-item {
    margin: 0 2px;
    padding: 0 2px;
}

.fast-link {
    width: 100%;
    min-height: 50px;
    border: #AA0331 solid 2px;
    background-color: #AA0331;
    display: inline-flex;
    align-items: center;
    transition: .3s;
    color: white;
    font-size: small;
}

@media screen and (max-width: 540px) {
    .fast-menu {
        display: inline-block;
        grid-template-columns: none;
    }
    .fast-link {
        width: 100%;
        font-size: medium;
    }
}

@media screen and (min-width: 540px) {
    .fast-menu {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 810px) {
    .fast-menu {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 981px) {
    .fast-menu {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
}

.fast-link>span {
    font-weight: bolder;
    text-transform: uppercase;
    padding: 5px 10px;
}

.fast-link-icon {
    width: 40px;
    height: 40px;
    padding: 7px;
    background-color: white;
}

.fast-link-icon>img {
    height: inherit !important;
    display: block;
    margin: auto;
}


.fast-link:hover {
    background-color: white;
    color: #AA0331;
    transition: .3s;
}

#columns .block-boxes-os_boxes_html a,
#columns .field-name-body a {
    text-decoration: none !important;
}