.fast-menu {
    display: inline-block;
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .fast-menu {
        display: contents;
    }
}

.fast-link {
    min-height: 50px;
    border-radius: 10px;
    border: #782121 solid 2px;
    background-color: #782121;
    display: inline-flex;
    align-items: center;
    transition: .3s;
}

.fast-link-icon {
    max-width: 50px;
    max-height: 50px;
    padding: 7px;
    background-color: white;
    border-radius: 10px;
}

.fast-link-icon img {
    max-width: 36px !important;
    max-height: 36px !important;
    display: block;
    margin: auto;
}

.fast-link-ref, .fast-link-ref a {
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-size: small;
    text-decoration: none !important;
}

.fast-link:hover, .fast-link-ref:hover {
    background-color: #CECECE;
    color: black !important;
    transition: .3s;
}