#footer {
    background-color: #CECECE;
    border-top: #782121 solid 10px;
    color: black;
}

.region-footer-bottom, .footer-panel {
    width: 100%;
}

.footer-panel > div {
    border-bottom: 2px solid black;
    padding: 10px 0;
}

footer .img-logo {
	max-height: 120px;
	max-width: 250px !important;
}

footer .main-info {
    display: flex;
    place-content: center;
    width: 100%;
}

.footer .main-info > div {
    place-content: center;
    text-align: center;
    width: 100%;
}

footer .logos {
    display: flex;
}

footer .logos-1 {
    border-right: 1px solid black;
}

footer .logos-2 {
    border-left: 1px solid black;
    padding: 0 10px;
}

.address-info {
    text-align: center;
}

.important-links {
    width: 100%;
}

.important-links ul {
    list-style: inside '>> ';
}

.important-links ul li {
    padding-right: 15px;
}

.important-links ul a {
    color: black;
    font-weight: 500;
}

.important-links ul a:hover {
    color: #782121;
}