#footer {
    background-color: #CECECE;
    border-top: #AA0331 solid 10px;
    color: black;
    padding-top: 0;
}

.region-footer-bottom, .footer-panel {
    width: 100%;
}

.footer-panel > div {
    border-bottom: 2px solid black;
    padding: 10px 0;
}

footer .img-logo {
	max-height: 100px;
	max-width: 210px !important;
}

footer .logos {
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.br-black {
    border-right: 1px solid black;
}

footer .logos-2 {
    border-left: 1px solid black;
    padding: 0 10px;
}

.contact-info, .contact-info a {
    color: black !important;
    text-align: center;
    font-size: 12pt;
}

.contact-info > span {
    padding: 0 10px;
    min-width: 300px;
}

.contact-info > span:nth-child(n+3) {
    border-left: black solid 1px;
}

.important-links-icons {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    text-align-last: center;
}

.important-links-icons img {
    max-height: 50px;
    padding: 10px;
}

img.gray-scale {
    filter: grayscale(100%);
    transition: 0.2s;
}

img.gray-scale:hover {
    filter: none;
    transition: 0.2s;
}