#menu-bar, #menu-bar #block-os-primary-menu {
    background-color: #AA0331;
}

#menu-bar {
    padding: 10px 0;
}

.open-submenu {
    background: none;
}

.open-submenu::after {
    color: white;
}

ul.nice-menu li.menuparent ul li, ul.nice-menu ul li {
    background-color: #FF5A5F !important;
    width: 100%;
}

ul.nice-menu li.menuparent ul li:hover {
    background-color: #AA0331 !important;
}

ul.nice-menu li.menuparent ul li a {
    color: black !important;
    text-transform: inherit !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}