.region.region-content-top {
	padding: 20px 0;
}

.caption.slide-copy a {
    color: #AA0331 !important;
}

#layout_16_9_side .slide, #layout_16_9_side .slide-copy  {
	background-color: #CECECE !important;
}

.slide ul.slidecontrol {
	display: flex;
	place-content: center;
}