/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Arvo');

/* breakpoint mobile 1008-1009*/

#header {
	background-color: white !important;
	color: black !important;
}

/* @media screen {
	
} */

.region.region-header-second {
	width: 30vw;
}
.region.region-header-third {
	width: 70vw;
}

@media screen and (max-width: 600px) {
	#header h1 {
		font-size: 20px;
	}
	/* .region.region-header-second {
		width: 30vw;
	}
	.region.region-header-third {
		width: 70vw;
	} */
}