/* To utilize a google font, place the font url's here at the top of this css file as seen here*/
@import url('http://fonts.googleapis.com/css?family=Arvo');

/* breakpoint mobile 1008-1009*/

#header {
	background-color: white !important;
	color: black !important;
	width: 100%;
	display: flex;
}

.header-panel-logo {
	align-content: center;
    padding: 10px;
}

.header-panel-info {
	text-align: center;
    width: -webkit-fill-available;
}

header .img-logo {
	max-height: 120px;
	max-width: 250px;
}

header div {
	align-self: center;
}

@media screen and (max-width: 770px){
	.header-title {
		font-size: 20px;
	}
	.header-subtitle {
		font-size: 14px;
	}
	header .img-logo {
		max-height: 80px;
		max-width: 167px;
	}
}

@media screen and (max-width: 535px) {
	#header-title::after {
		content: 'Departamento de Museologia / UFOP';
	}
	#header-subtitle {
		display: none;
	}
}

/* @media screen {
	
} */

/* .region.region-header-second {
	width: 30vw;
}
.region.region-header-third {
	width: 70vw;
}

@media screen and (max-width: 600px) {
	#header h1 {
		font-size: 20px;
	}
	.region.region-header-second {
		width: 30vw;
	}
	.region.region-header-third {
		width: 70vw;
	}
} */